#tabnav{
    width:80%;
    position: absolute;
    top: 25%;
    left: 10%;
}

.bubble {
    position: absolute;
    box-shadow: 0px 5px 13px 0px rgba(170, 119, 56, 0.6) inset;
    border-radius: 50%;
    background: -webkit-radial-gradient(center ellipse, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 64%);
    background: -o-radial-gradient(center ellipse, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 64%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 64%);
    border-radius: 50%;
    z-index: 2;
    width: 50px;
    height: 50px;
  }

beertab {
  overflow: hidden;
  width: 485px;
  margin-right: auto;
  margin-left:auto;

}
beertab {
  background-image: url('../../assets/images/ale.jpg');
  background-position: 50% 125px;
  background-size: 500px;;
  background-repeat: no-repeat;
}
beertab.reset {
  -webkit-animation-name: empty-beer;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
}
beertab.loading {
  -webkit-animation-name: fill-beer;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
}

beertab.loading :nth-child(1) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(2) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(3) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(4) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(5) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(6) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(7) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(8) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(9) {
  -webkit-animation-delay: 0s;
}
beertab.loading :nth-child(10) {
  -webkit-animation-delay: 0s;
}

@-webkit-keyframes fill-beer {
  0% {
    background-size: 75px;
    background-position: 50% 105px;
  }
  100% {
    background-size: 75px;
    background-position: 50% 15px;
  }
}
@-webkit-keyframes empty-beer {
  0% {
    background-size: 75px;
    background-position: 50% -20px;
  }
  100% {
    background-size: 75px;
    background-position: 50% 105px;
  }
}