.App {
    text-align: center;
}
  
.Admin-icon {
    animation: Icon-spin infinite 20s linear;
}
  
  
.Admin-icon-counter {
    animation: Icon-spin-counter infinite 20s linear;
    /* height: 80px; */
}
  