#nav{
    width: 100%;  
    background: url('../../assets/images/woodback.jpg')
}

hr{
    color:black;
    height:3px;
}

p {
    color:white;
}

#brewernav {
    margin-top: 12%;
    padding-left: 2.5%;
}

#chainsign {
    position: absolute ;
    top: -5%;
    left: 5%;
    transition: all 1s ease-in-out;
    z-index: 0;
}

#chainsign.move {
    animation: move 3s;
    animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#chalk {
    position: absolute;
    bottom: -9%;
    right: 60%;

}

.landtext {
    color: white;
}

@keyframes move {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, -480px, 0); }
  }