#mainglass{
position: absolute;
bottom: -5%;
left:25%;
}

#beername {
  position: absolute;
  left: 33.3%;
  top: -150%;
}

#beertitle {
  position: absolute;
  left: 33%;
  bottom: 10%;
  font-size: 40px;
}

#beername.namemove {
  animation: namemove 3s;
    animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes namemove {
  from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 350px, 0); }
}

#leftinfo, #rightinfo {
  margin-top: 350%;
  height: 350px;
  width: 450px;
  transition: transform 5s ease-in;
    z-index: 3;
}

#rightinfo.signmove {
    animation: signmove 3s;
    animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
#leftinfo.signmove {
  animation: signmove 3s;
  animation-fill-mode: forwards;
-webkit-animation-fill-mode: forwards;
}

@keyframes signmove {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, -450px, 0); }
  }


#leftinfo {
  position: absolute;
  left: -125%;
  background-image: url('../../assets/images/signbackground.png');
  background-size: contain;
}

#rightinfo { 
  position: absolute;
  right: -325%;
  background-image: url('../../assets/images/signbackground.png');
  background-size: contain;
}

.card-body{
    overflow-y: auto;
  }
  p {
    color: black;
  }
  h5 {
    color: black;
  }
  h6 {
    color: black;
  }
  p {
    color: black;
  }
  .bubble {
    position: absolute;
    box-shadow: 0px 5px 13px 0px rgba(170, 119, 56, 0.6) inset;
    border-radius: 50%;
    background: -webkit-radial-gradient(center ellipse, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 64%);
    background: -o-radial-gradient(center ellipse, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 64%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 64%);
    border-radius: 50%;
    z-index: 2;
    width: 50px;
    height: 50px;
  }

  #beer {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: -50%;
    /* background: #fed849; */
    transform: scaleY(0);
    background: linear-gradient(white, #b98904,#b98904,#b98904, #b98904,#b98904);
    transition: all 3s ease-in-out;
    padding-top: 14%;
  }
  #beer.fill {
    transform: scaleY(1);
    bottom: 0%;
  }
  #glass.rotate{
    transition: all 2s ease-in;
    transform: perspective(500px) rotateX(-30deg) rotate(25deg);
  }
  #beer.rotatetop{
    transition: all 1s ease-in;
    transform-origin: top;
    transform: rotate(-20deg);
  }
  #beer.rotatetopback{
    transition: all 1s ease-in;
    transform-origin: top;
    transform: rotate(0deg);
  }
  
  #glass.rotateback{
    transition: all 1s ease-in;
    transform: perspective(500px) rotateX(-30deg) rotate(0deg) ;
  }
  
  #glass {
    position: relative;
    display: block;
    width: 300px;
    height: 500px;
    border: solid 10px #e8e4d9;
    border-top: solid 5px #e8e4d9;
    border-bottom: solid 30px #e8e4d9;
    border-radius: 5px;
    transform: perspective(500px) rotateX(-30deg);
    transform-origin: center;
    margin:auto;
  }
  
  #tap {
    position: relative;
    display: block;
    width: 150px;
    height: 140px;
    background: black;
    border: solid 10px #e8e4d9;
    border-top: solid 5px #e8e4d9;
    border-bottom: solid 10px #e8e4d9;
    border-radius: 5px;
    transform: perspective(400px) rotateX(-30deg);
    left: 44%;
    bottom: 100%;
    right: 2.25%;
    z-index: 1;
  }
  
  #glass:before,
  #glass:after {
    content: '';
    position: absolute;
    border-radius: 10px;
    background: #fff;
    width: 10px; 
  }
  #glass:before {
    height: 20%;
    left: 10px;
    top: 5%;
    z-index: 1;
  }
  #glass:after {
    height: 70%;
    right: 10px;
    top: 5%;
  }
  #tap:before,
  #tap:after {
    content: '';
    position: absolute;
    border-radius: 10px;
    background: #fff;
    width: 10px;
  }
  #tap:before {
    height: 20%;
    left: 10px;
    top: 5%;
    z-index: 1;
  }
  #tap:after {
    height: 70%;
    right: 10px;
    top: 5%;
  }
  
  
  #pour {
    width: 40px;
    height: 400%;
    border-radius: 20px;
    left: 50%;
    transition: 300ms ease-in;
    background: linear-gradient( #b98904,#b98904, white);
    z-index: -1;
  }
  
  #pour.pouring {
    bottom: 16%;
    position: absolute;
  }
  #pour.end {
    height: 0;
  }
  .animationwrapper {
    padding-top: 25%;
  }
  .animationwrapper .card {
    height: 300px;
    text-align: center;
    background: white;
    z-index: 2;
  }