#wcbackground {
    width: auto;
    height: auto;
}

.wcp{
    color:white;
    font-size: 14px;
    font-family: 'Russo One', cursive;
}

#wch2{
    color:white;
    font-size: 20px;
    font-family: 'Black Ops One', cursive;
}

#chainsign {
    width: 10rem;
    position: absolute ;
    top: -10%;
    transition: transform 5s ease-in;
    z-index: 3;
}

#chainsign .move {
    transform: translate3d(0px, -470px, 0px);
}

#welcomesign{
    width: 33rem;
}