.bottlesh4{
    transform: rotate(90deg);
    transform-origin: right top 0;
    position: relative;
    left: -42%;
    margin-top:175%;
}

.bottle{
    width:200px;
    height: 430px;
    margin-bottom: 3px;
    background-image: url('../../assets/images/bottle.png');
    background-size: contain;
    background-color:transparent;
    background-repeat: no-repeat;
}

.bottlesh4 {
    color: white;
}

#bottlenav{
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: absolute;
    top: 35%;
}