#nav{
    width: 100%;  
    background: url('./assets/images/woodback.jpg')
}

.cask{
    width:200px;
    height: 200px;
    margin-bottom: 3px;
    background-image: url('./assets/images/cask.png');
    background-size: cover;
    background-color:transparent;
}

#brewernav{
    margin-left: auto;
    margin-right: auto;
}

#display {
    margin-top: 25px;
}