#landmain{
    height:auto;
    width:60%;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(0,0,0,0.3);;
    border-radius:10px;
}
.btn{
    margin: 5px;
}
.landtext {
    color: white;
}